@model IEnumerable<CategoryViewModel>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>
                    <a href="@Url.Action("Update", new { id = category.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", new { id = category.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Container for the button -->
<div class="d-flex justify-content-end mb-3">
    <a href="@Url.Action("Create", "Categories")" class="btn btn-primary">Create New Category</a>
</div>
